:root {
    /* --nombre: valor; */
    --background-button-color: #333ac0;
    /*--hover-button-color: rgb(27, 116, 116);*/
    --hover-button-color: #323241;
}

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

/* Mobile first  */
h5 { font-size: 1.15em;}
p { font-size: 1rem; }

/*Header*/
.header {
    /*background-color: #D4D4D4;*/
    background-image: url(../img/background_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42%;
    height: 75vh;

    position: relative;
}

nav a {
    color: #333;
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;

    margin: 0 15px;
}

.fondoOscuro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651);
}



.align {
    justify-self: center;
    align-items: center;
}

.botonHeader {
    background-color: var(--background-button-color);
    border: none;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.botonHeader:hover {
    background-color: var(--hover-button-color);
    transition: background-color 0.6s;
}

.contenedorHeader {
    max-width: 25rem;
}

/* Main */
.botonCustom {
    background-color: var(--background-button-color);
    border: none;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.botonCustom:hover {
    background-color: var(--hover-button-color);
    transition: background-color 0.6s;
}

.botonContacto {
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--background-button-color);
    border: none;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.botonContacto:hover {
    background-color: var(--hover-button-color);
    transition: background-color 0.6s;
}

.combo {
    width: 95%;
    max-width: 18rem;
}


.consulta-form {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    max-width: 90%;
}

.fix-height {
    height: 202.2px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group:nth-child(5) {
    grid-column: 1 / span 2;
}

.marging {
    margin-top: 2rem;
    padding-left: 0.5rem;
}

.grid-responsive {
    margin-top: 1rem;
    max-width: 100%;
}

textarea {
    resize: vertical;
}

/*Servicios*/

.fondoMasOscuro {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: rgba(75, 75, 75, 0.87);
}

.offer1Servicios {
    background-image: url(../img/clases-personalizadas.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42%;
    height: 80vh;
}

.offer1Contenido {
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
}

.offer2Servicios {
    background-image: url(../img/clases-grupales.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.offer2Contenido {
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
}

.offer3Servicios {
    background-image: url(../img/padel-competitivo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42%;
    height: 80vh;
}

.offer3Contenido {
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
}

.contenedorUbicacion {
    margin: 0 auto;
    padding: 1rem;
    height: 85vh;
}

/*
.comboServicios {
    width: 100%;
    height: 20vh;
    margin: 2rem auto;
}
*/

/*Nosotros*/
/* Contenedor principal de la tarjeta */
.contenedorNosotros {
    margin-top: 5rem;
    padding: 1rem;
}

.card-container {
    perspective: 1000px;
    height: 560px;
    width: 320px;
    /*margin: 50px auto;*/
    margin-bottom: 1rem;

}

/* Tarjeta en sí */
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

/* Girar tarjeta al pasar el mouse */
.card-container:hover .card {
    transform: rotateY(180deg);
}

/* Lados de la tarjeta (frente y reverso) */
.card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Estilo del frente de la tarjeta (imagen) */
.card-front {
    background-color: #fff;
}

/* Estilo del reverso de la tarjeta (descripción) */
.card-back {
    background-color: var(--hover-button-color);;
    color: white;
    transform: rotateY(180deg);
    padding: 1rem;
}

/* Imagen en la tarjeta */
.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-responsive-nosotros {
    margin-top: 1rem;
    max-width: 100%;
}

/*Contactor*/
.contenedorContacto {
    height: 75vh;
}


/*Footer*/
footer {
    margin-top: 2.5rem;
    padding: 10px;
    text-align: center;
    background-color: var(--background-button-color);

    display: flex;
    flex-direction: column;
}

/* Tablets */
@media only screen and (min-width: 601px) {

    .combo {
        align-self: start;
        justify-self: center;
    }

    .consulta-form {
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 600px;
    }

    .grid-responsive {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);

        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Pantallas HD */
@media only screen and (min-width: 901px) {

    p { font-size: 1.25rem; }

    .grid-responsive {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }

    .contenedorHeader {
        margin: 0 2rem;
        max-width: 100%;
    }

    .contenedorBotonHeader {
        display: flex;
    }

    .fondoMasOscuro {
        height: 65vh;
    }

    .offer1Servicios, .offer2Servicios, .offer3Servicios {
        height: 65vh;
    }

    .atributosMapa {
        width: 100%; /* El mapa ocupará el 100% del ancho disponible */
        /*max-width: 800px;*/ /* Ancho máximo del mapa */
        height: 400px; /* Altura del mapa */
        border: 2px solid #007bff; /* Borde azul */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de elevación */
        margin: 20px auto; /* Centrar el mapa horizontalmente */
    }

}

@media only screen and (min-width: 1024px) {
    h5 { font-size: 1.25em;}

    p { font-size: 1.35rem; }

    /*Nosotros*/
    .grid-responsive-nosotros {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        justify-items:center;
        gap: 1rem;
        width: 100%;
        height: 70vh;
    }

    .grid-responsive-nosotros p {
        font-size: 1rem;
    }

}