@import "./base/variables";

@import "./layout/footer";
@import "./layout/header";


@import "./pages/consulta-main";
@import "./pages/index-main";
@import "./pages/nosotros-main";
@import "./pages/servicios-main";

@import "./mq/media";

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}