%form-group-custom1 {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.consulta-form {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.fix-height {
    height: 202.2px;
}

.form-group {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    input {
        @extend %form-group-custom1;
    }

    textarea {
        @extend %form-group-custom1;
    }

    &:nth-child(5) {
        grid-column: 1 / span 1;
    }
}

textarea {
    resize: vertical;
}

.contenedorContacto {
    height: 75vh;
}