@import "../mq/media";

// Variables locales
$offer1Height: 90vh;
$offer2Height: 115vh;
$offer3Height: 115vh;
$blurImgs: rgba(75, 75, 75, 0.87);

// Extends
%offer-contenido {
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
}
%offer-fondoOscuro {
    position: absolute;
    width: 100%;
}

@mixin backgroundConfig($imgPath, $repeat, $size, $position, $height) {
    background-image: url($imgPath);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
    height: $height;
}


.offer1fondoOscuro {
    @extend %offer-fondoOscuro;
    height: $offer1Height;
    background-color: $blurImgs;
}

.offer1Servicios {
    @include backgroundConfig("../img/clases-personalizadas.webp",
        no-repeat,
        cover,
        42%,
        $offer1Height)
}

.offer1Contenido {
    @extend %offer-contenido
}

.offer2fondoOscuro {
    @extend %offer-fondoOscuro;
    height: $offer2Height;
    background-color: $blurImgs;
}

.offer2Servicios {
    @include backgroundConfig("../img/clases-grupales.png",
        no-repeat,
        cover,
        0%,
        $offer2Height)
}

.offer2Contenido {
    @extend %offer-contenido
}

.offer3fondoOscuro {
    @extend %offer-fondoOscuro;
    height: $offer3Height;
    background-color: $blurImgs;
}

.offer3Servicios {
    @include backgroundConfig("../img/padel-competitivo.avif",
    no-repeat,
    cover,
    42%,
    $offer3Height)
}

.offer3Contenido {
    @extend %offer-contenido
}

.contenedorUbicacion {
    margin: 0 auto;
    padding: 1rem;
    height: 85vh;
}